In [2]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df

   X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4

In [3]:
import numpy as np
izero = np.r_[-1, (df['X'] == 0).nonzero()[0]] # indices of zeros
idx = np.arange(len(df))
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]

In [4]:
df['Y']

0    1
1    2
2    0
3    1
4    2
5    3
6    4
7    0
8    1
9    2
Name: Y, dtype: int64

In [5]:
#2.Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. Let's call this Series s.
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)

In [6]:
s

2015-01-01    0.569718
2015-01-02    0.954535
2015-01-05    0.916617
2015-01-06    0.015372
2015-01-07    0.362789
2015-01-08    0.991753
2015-01-09    0.929122
2015-01-12    0.266542
2015-01-13    0.079833
2015-01-14    0.541730
2015-01-15    0.100190
2015-01-16    0.564707
2015-01-19    0.780878
2015-01-20    0.253899
2015-01-21    0.373805
2015-01-22    0.906188
2015-01-23    0.579602
2015-01-26    0.362701
2015-01-27    0.682689
2015-01-28    0.626855
2015-01-29    0.921036
2015-01-30    0.327249
2015-02-02    0.267078
2015-02-03    0.779095
2015-02-04    0.363809
2015-02-05    0.879739
2015-02-06    0.220141
2015-02-09    0.533730
2015-02-10    0.774366
2015-02-11    0.660784
                ...
2015-11-20    0.848968
2015-11-23    0.764487
2015-11-24    0.885977
2015-11-25    0.010493
2015-11-26    0.672604
2015-11-27    0.666154
2015-11-30    0.275483
2015-12-01    0.179202
2015-12-02    0.824607
2015-12-03    0.233242
2015-12-04    0.739519
2015-12-07    0.476985
2015-12-08    0.958451
2015-12-09    0.575538
2015-12-10    0.898585
2015-12-11    0.765145
2015-12-14    0.002649
2015-12-15    0.009699
2015-12-16    0.215669
2015-12-17    0.619519
2015-12-18    0.779145
2015-12-21    0.420544
2015-12-22    0.264067
2015-12-23    0.349115
2015-12-24    0.084416
2015-12-25    0.270852
2015-12-28    0.310066
2015-12-29    0.999608
2015-12-30    0.034576
2015-12-31    0.339302
Freq: B, Length: 261, dtype: float64

In [7]:
#3.Find the sum of the values in s for every Wednesday.
s[s.index.weekday == 2].sum()

23.874820131193676

In [9]:
#4.Average For each calendar month
s.resample('M').mean()

2015-01-31    0.550355
2015-02-28    0.515739
2015-03-31    0.460202
2015-04-30    0.529060
2015-05-31    0.511344
2015-06-30    0.600001
2015-07-31    0.667993
2015-08-31    0.559148
2015-09-30    0.530720
2015-10-31    0.539213
2015-11-30    0.490626
2015-12-31    0.450022
Freq: M, dtype: float64

In [10]:
#5.For each group of four consecutive calendar months in s, find the date on which the highest value occurred
s.groupby(pd.TimeGrouper('4M')).idxmax()

2015-01-31   2015-01-08
2015-05-31   2015-05-08
2015-09-30   2015-09-01
2016-01-31   2015-12-29
Freq: 4M, dtype: datetime64[ns]